@font-face {
  font-family: 'Hanalei Fill';
  font-style: normal;
  font-weight: 400;
  src: local('Hanalei Fill'), local('HanaleiFill-Regular'), url(https://fonts.gstatic.com/s/hanaleifill/v6/fC1mPYtObGbfyQznIaQzPQi8UAjA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    padding: 0;
    margin: 0;
  }

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #FF8282;
  font-family: "Hanalei Fill", cursive;
  color: white;
}

#container{
  width: 100%;
  margin: auto;
  text-align: center;
 
}

#grid-container {
  width: 680px;
  margin: 10px auto;
  background-color: #FF8282;
  box-shadow: 5px 20px 20px gray;
  border: 1px solid white;
  font-size: 0;
}

.grid-item {
  display: inline-block;
  vertical-align: middle;
 
  
}

#btn {
  height: 40px;
  width: 70px;
  margin-top: 50px;
  font-family: "Hanalei Fill", cursive;
  color: white;
  background-color:#FF8282;
  border: 1px solid white;
  box-shadow: 1px 2px 2px gray;
}

#btn:active {
  background-color: gray;
  transform: translateY(4px);
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
}


